# vscode configuration files
*.json

# intellij configuration files
.idea/*

# compiled python files
*.pyc

# build and distribution files
AIMSim.egg-info/*
build/*
dist/*

# UI-generated config file
UI/AIMSim-ui-config.yaml
AIMSim-ui-config.yaml

# testing-related configuration file
.no-speedup-test

# coverage files
.coverage
htmlcov/*

# Jupyter Notebooks
.ipynb_checkpoints/*

# Temp files from testing
temp_*