# vscode configuration files
*.json

# intellij configuration files
.idea/*

# compiled python files
*.pyc

# build and distribution files
molSim.egg-info/*
build/*
dist/*

# UI-generated config file
UI/molSim-ui-config.yaml
molSim-ui-config.yaml

# testing-related configuration file
.no-speedup-test

# coverage files
.coverage
htmlcov/*

# Jupyter Notebooks
.ipynb_checkpoints/*