scipy
matplotlib
seaborn
tabulate
numpy
multiprocess>=0.70
pandas
# force pyyaml away from specific versions: https://github.com/yaml/pyyaml/issues/724
pyyaml!=6.0.0,!=5.4.0,!=5.4.1,<7
scikit_learn
rdkit
psutil
padelpy
plotly
mhfp
darkdetect
mordredcommunity
openpyxl
